weather-container {
    background-color: rgb(166, 166, 115);
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

weatherInfo {

}

temperature{

}

description {


}

details {
    display: flex;
    flex-direction: row;
}